<div class="container"> 
  <h2>CRUD ANGULAR PHP Y MYSQL</h2> 
  <div class="col-md-10 mt-4"> 
    <div class="card"> 
      <div class="card-body" > 
        <div class="container" > 
          <h2>Administración de artículos</h2> 
          <table class="table table-hover" *ngIf="hayRegistros(); else sinarticulos"> 
            <thead> 
              <tr> 
                <th>Codigo</th> 
                <th>Descripcion</th> 
                <th>Precio</th>
                <th>Proveedor</th>
                <th>fabricante</th>
                <th>Borrar</th> 
                <th>Seleccionar</th> 
              </tr> 
            </thead>
            <tbody> 
                <tr *ngFor="let art of articulos"> 
                  <td>{{art.codigo}}</td>
                  <td>{{art.descripcion}}</td> 
                  <td>{{art.precio}}</td> 
                  <td>{{art.proveedor}}</td>
                  <td>{{art.fabricante}}</td>
                  <td><button (click)="baja(art.codigo)" class="btn btn-danger">Borrar</button></td> 
                  <td><button (click)="seleccionar(art.codigo)" class="btn btn-warning">Seleccionar</button></td>
                </tr> 
            </tbody> 
          </table> 
        </div>
          <ng-template #sinarticulos> 
            <p>No hay articulos.</p> 
          </ng-template> 
          <div> 
            <form #agregarForm="ngForm" novalidate >
            <div class="form-group"> 
              <input type="text" [(ngModel)]="art.descripcion" placeholder="descripcion" class="form-control" #descripcion="ngModel" 
               [ngClass]="{ 'is-invalid':agregarForm.submitted && descripcion.invalid}" name="descripcion" required/> 
               <div *ngIf="agregarForm.submitted && descripcion.invalid " class="invalid-feedback">
                <div *ngIf="descripcion.errors.required">La descripcion es requerida!</div>
            </div>
            </div> 
            <div class="form-group"> 
              <input type="number" [(ngModel)]="art.precio" placeholder="precio" class="form-control" #precio="ngModel" 
               [ngClass]= "{'is-invalid': agregarForm.submitted && precio.invalid}" name="precio" required/> 
               <div *ngIf="agregarForm.submitted && precio.invalid" class="invalid-feedback">
                <div *ngIf="precio.errors.required">El precio es requerido !</div>
            </div>
            </div> 
            <div class="form-group"> 
              <input type="text" [(ngModel)]="art.proveedor" placeholder="proveedor" class="form-control" #proveedor="ngModel" 
              [ngClass]="{ 'is-invalid': agregarForm.submitted && proveedor.invalid}" name="proveedor" required/> 
              <div *ngIf="agregarForm.submitted && proveedor.invalid" class="invalid-feedback">
                <div *ngIf="proveedor.errors.required">El prveedo es rquerido!</div>
            </div>
            </div>
            <div class="form-group"> 
              <input type="text" [(ngModel)]="art.fabricante" placeholder="fabricante" class="form-control" #fabricante="ngModel" 
              [ngClass]="{ 'is-invalid': agregarForm.submitted && fabricante.invalid}" name="fabricante" required/> 
              <div *ngIf="agregarForm.submitted && fabricante.invalid" class="invalid-feedback">
                <div *ngIf="fabricante.errors.required">El fabicante es requerido!</div>
            </div>
            </div>
          
            <button (click)="alta()" *ngIf="art.codigo == 0" class="btn btn-primary btn-space" >Agregar</button> 
            <button (click)="modificacion()" *ngIf="art.codigo !== 0" class="btn btn-warning">Modificar</button></form>
         
          </div> 
        </div> 
      </div> 
    </div> 
  </div>