<div class="card">
    <div class="card-body">
        <h6 class="text-center">
            List of students
        </h6>
        <table class="table table-sm table-hover">
            <tbody>
                <tr>
                    <td>ID</td>
                    <td>Name</td>
                    <td>Lastname</td>
                    <td>Age</td>
                    <td>Actions</td>
                </tr>
                <tr *ngFor="let student of studentList">
                    <td>{{student.$key}}</td>              
                    <td>{{student.name}}</td>
                    <td>{{student.lastName}}</td>
                    <td>{{student.age}}</td>
                    <td>
                        <a class="btn btn-secondary text-white" (click)="onEdit(student)">
                            <i class="far fa-edit"></i>
                        </a>
                        <a class="btn btn-danger text-white" (click)="onDelete(student.$key)">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>