<style>
  .btn-space{
    margin-right: 20px;
  }
</style>

<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="/">Prmer Crud Angular</a>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-8 mt-4">
      <!--mt-4 espacio en blanco vertical-->
      <ul class="list-group">
        <li *ngFor="let alumno of alumnoArray" class="list-group-item list-goup-item-action" (click)="openForEdit(alumno)" [class.active]="alumno == selectedAlumno">
          <span class="badge badge-primary">{{alumno.id}}</span>
            - {{alumno.name}}
            - {{alumno.lastname}}
            - {{alumno.age}}
            - {{alumno.direccion}}
            - {{alumno.telefono}}
            - {{alumno.email}}
        </li>
      </ul>
      <div class="card">
        <form #agregarForm="ngForm" (ngSubmit)="agregarForm.form.valid" novalidate>
        <div class="card-body">
          <div class="card-title">
            <h3>{{selectedAlumno.id == 0 ? "Agregar Nuevo Alumno" : "Actualizar Alumno"}}</h3>
          </div>
          <div class="form-group">
            <input type="text" [(ngModel)]="selectedAlumno.name" placeholder="name"class="form-control" name="nombre" #nombre="ngModel"
             [ngClass]="{'is-invalid': agregarForm.submitted && nombre.invalid}" required>
             <div *ngIf="agregarForm.submitted && nombre.invalid" class="invalid-feedback">
              <div *ngIf="nombre.errors.required">El nombre es requerido !</div>
            </div>
          </div>
          <div class="form-group">
            <input type="text" [(ngModel)]="selectedAlumno.lastname" placeholder="lastname"class="form-control" name="apellido" #apellido="ngModel"
             [ngClass]="{'is-invalid': agregarForm.submitted && apellido.invalid}" required>
             <div *ngIf="agregarForm.submitted && apellido.invalid" class="invalid-feedback">
              <div *ngIf="apellido.errors.required">El apellido del alumno es requerido !</div>
            </div>
          </div>
          <div class="form-group">
            <input type="number" [(ngModel)]="selectedAlumno.age" placeholder="Age"class="form-control" name="age" #age="ngModel" 
             [ngClass]="{'is-invalid':agregarForm.submitted && age.invalid}" required >
             <div *ngIf="agregarForm.submitted && age.invalid" class="invalid-feedback">
              <div *ngIf="age.errors.required">Edad es requerido !</div>
            </div>
          </div>  
          <div class="form-group">
            <input type="text" [(ngModel)]="selectedAlumno.direccion" placeholder="Address"class="form-control" name="address" #address="ngModel" 
             [ngClass]="{'is-invalid': address.invalid && agregarForm.submitted}" required>
             <div *ngIf="agregarForm.submitted && address.invalid" class="invalid-feedback">
              <div *ngIf="address.errors.required">La direccion es requerida !</div>
          </div>
          </div>
          <div class="form-group">
            <input type="text" [(ngModel)]="selectedAlumno.telefono" placeholder="Telephone"class="form-control" name="telefono" #telefono="ngModel"
             [ngClass]="{'is-invalid': agregarForm.submitted && telefono.invalid}" pattern="^[0-9]{4}-[0-9]{4}$" required>
             <div *ngIf="agregarForm.submitted && telefono.invalid" class="invalid-feedback">
              <div *ngIf="telefono.errors.required">El número de telefono es requerido !</div>
              <div *ngIf="telefono.errors.pattern">Numero invalido! !</div>
            </div>
          </div>
          <div class="form-group">
            <input type="text" [(ngModel)]="selectedAlumno.email" placeholder="Email"class="form-control" name="email" #email="ngModel" 
             [ngClass]="{'is-invalid':agregarForm.submitted && email.invalid}" required email >
             <div *ngIf="agregarForm.submitted && email.invalid" class="invalid-feedback">
              <div *ngIf="email.errors.required">Email es requerido !</div>
              <div *ngIf="email.errors.email">Email no valido...</div>
          </div>
          </div>

          <button (click)="addOrEddit()" class="btn btn-primary btn-space">Guardar</button>
          <button *ngIf="selectedAlumno.id !== 0" class="btn btn-danger" (click)="delete()">Eliminar</button>
        </div></form>
      </div>
    </div>
    <div class="col-md-4">
      <img width="300" alt="Angular Logo"src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
    </div>
  </div> 
</div>